[user]
	name = Sean Story
	email = sean.story@elastic.co
[push]
	default = simple
	autoSetupRemote = true
[alias]
    prstash = "!f(){ \
                   git checkout main        && \
                   git fetch origin           && \
                   (git branch -D pr/$1 || :) && \
                   git fetch origin refs/pull-requests/$1/merge:pr/$1 && \
                   git checkout pr/$1; \
               };f"
[init]
	defaultBranch = main
	templatedir = ~/.git-templates
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
