[alias]
    prstash = "!f(){ \
                   git checkout master        && \
                   git fetch origin           && \
                   (git branch -D pr/$1 || :) && \
                   git fetch origin refs/pull-requests/$1/merge:pr/$1 && \
                   git checkout pr/$1; \
               };f"
